# Get your license key at https://portal.cfx.re/
sv_licenseKey REPLACE_WITH_YOUR_LICENSE_KEY

# Get your api key at https://steamcommunity.com/dev/apikey
set steam_webApiKey "YOUR_STEAM_KEY"

sv_tebexSecret ""

set rcon_password "YOUR_PASSWORD"

set db_host "YOUR_DB_HOST"
set db_port 5432
set db_user "YOUR_DB_USER"
set db_password "YOUR_DB_PASSWORD"
set db_name "civil"

add_convar_permission db read db_host
add_convar_permission db read db_port
add_convar_permission db read db_user
add_convar_permission db read db_password
add_convar_permission db read db_name