.input-arrows {
  user-select: none;

  display: flex;
  flex-direction: column;
  gap: .5rem;

  &__label {
    text-align: center;
  }

  &__group {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
  }

  &__value {
    min-width: 3rem;
    text-align: center;
  }

  &__control {
    cursor: pointer;

    opacity: .8;

    transition: .2s;

    &:hover {
      opacity: 1;
    }
  }
}