@use "~/shared/vars";

.world-data {
  position: absolute;
  bottom: calc(vars.$minimapHeight + 1rem);
  left: 0;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  filter: drop-shadow(0.1rem 0.2rem 0.1rem #00000080);

  &-time {
    width: 4rem;

    position: relative;

    font-size: 1.5rem;
    font-weight: 700;

    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: -0.75rem;

      width: 0.2rem;
      height: 100%;

      border-radius: 0.5rem;
      background-color: white;
    }
  }

  &-area {
    display: flex;
    flex-direction: column;

    &__zone {
      font-size: 1rem;
      font-weight: 700;
    }

    &__street {
      font-size: 0.7rem;
    }
  }
}
