.tabs-navigation {
  display: flex;

  &__element {
    width: 6rem;
    text-align: center;
    padding: 0.5rem;

    font-size: 0.8rem;

    transition: 0.2s;

    &:hover,
    &_active {
      background-color: #00000080;
    }
  }
}
