fx_version 'cerulean'
game 'gta5'

author 'Kirill Kuznetsov'
version '1.0.0'

node_version '22'

server_only 'yes'

server_script 'dist/server.js'

convar_category 'database' {
    "Database Configuration Options",
    {
        { "Database Host", "db_host", "CV_STRING", "127.0.0.1" },
        { "Database Port", "db_port", "CV_STRING", "5432" },
        { "Database User", "db_user", "CV_STRING", "" },
        { "Database Password", "db_password", "CV_PASSWORD", "" },
        { "Database Name", "db_name", "CV_STRING", "" },
    }
}