.input-arrows {
  user-select: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;

  background-color: #00000000;
  border-radius: 0.25rem;

  transition: background-color 0.2s;

  &:hover {
    background-color: #00000080;
  }

  &__label {
    text-align: left;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__value {
    min-width: 3rem;
    text-align: center;
  }

  &__control {
    cursor: pointer;

    opacity: 0.8;

    transition: 0.2s;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}
